
body{
    color: white; 
    text-align: center;
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*font-family: 'Marck Script', cursive;*/
    background-color: black;
}
#backgroundImg{
    position: absolute;
    top:0%;
    left:0%;
    height:550px;
    width:100%;
}
audio{
    position:fixed;
    top:95%;
    left:0%;
    opacity: .5;
} 


#name{
    position:absolute;
    top:17%;
    left:25%;
    opacity: 0;
    animation: type 1s steps(400, end); 
    animation-fill-mode:forwards;
}
#secBelow{
    position: absolute;
    top:2%;
    right:0%;
    opacity: 0;
    animation: type 1s steps(320, end); 
    /*animation-delay: .5s;*/
    animation-fill-mode:forwards;
    font-size: 25px;
    text-align: center
}
a{
    display:inline;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color:darkgrey;
    background-color:transparent;
}
a:hover{
    font-weight: bold;
    color:#000;
    background-color:darkgrey;
}

/*//////////////////about section////////////*/
.section{
    margin-top: 650px;
    height:400px;
    text-align: center;
}
#profileImg{
    height:100px;
    width: 100px;
}
#story{
    margin:0px;
    height: 100px;
   color: #004547;
   text-align: justify;
   
}

/*//////////////////Class section////////////*/
#classSec{
    background: url("../images/nature.jpeg") no-repeat bottom left scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:550px;
}


@keyframes type{ 
  from{opacity: 0;}
  to{opacity: 1}
  
} 


@media screen and (max-width: 415px){
    #backgroundImg{
        opacity: .8;
        height:50%;
    }
    #name{
        position:absolute;
        top:5%;
        left:17%;
        height: 25%;
        width: 65%;
        opacity: 0;
       
    }
    #secBelow{
    position: absolute;
    top:56%;
    left:0%;
    font-size: 25px;
    text-align: center
}
a{
    display:block;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    color:darkgrey;
    background-color:transparent;
}
    
    audio {
        position: absolute;
        top: 93%;
        left: 0%;
    }

    audio {
        width: 300px;
        height: 32px;
    }
}

@media screen and (max-height: 415px){

    
    #name{
        position: absolute;
        top: 10%;
        left: 28%;
        height: 35%;
        width: 42%;
        opacity: 0;
        
    }
    
    #secBelow{
        position: absolute;
        top:60%;
        left:60%;
        opacity: 1;
       font-size: 19px;
        text-align: center
    }
    audio{
        top:91%;
    } 
}

@media (min-width: 992px) {
    
}