
body{
    background: url("back.png") repeat-y;
    background-size: cover;
  color: white; 
  text-align: center;
  font-family: 'Marck Script', cursive;
  /*text-shadow: 2px 2px #ff0000;*/

}
audio{
    position:absolute;
    top:0%;
    left:0%;
} 
p{
  margin:0px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
#intro{
    animation: intro 4s steps(1000, end); 
    animation-delay: 6s;
    animation-fill-mode:forwards;
    text-shadow: 2px 2px #ff0000;
}
#heading1{
    position:absolute;
    top:20%;
    overflow: hidden;
    font-size: 80px;
    animation: fadeIn1 2s steps(50, end);
    animation-delay: 1s; 
}
#heading2{
    position:absolute;
    top:30%;
    overflow: hidden;
    font-size: 80px;
    animation: fadeIn2 2s steps(50, end); 
    animation-delay: 1s;
}
#heading3{
    position:absolute;
    top:43%;
    left:5%;
    opacity: 0;
    animation: fadeIn3 3s steps(500, end); 
    animation-delay: 2s;
    animation-fill-mode:forwards;
}
#name{
    position:absolute;
    top:9%;
    left:25%;
    opacity: 0;
    animation: type 8s steps(400, end); 
    animation-delay: 6s;
    animation-fill-mode:forwards;
}
#secBelow{
    position: absolute;
    top:80%;
    left:30%;
    opacity: 0;
    animation: type 3s steps(320, end); 
    animation-delay: 10s;
    animation-fill-mode:forwards;
    font-size: 35px;
    text-align: center
}

@keyframes type{ 
  from{opacity: 0;}
  to{opacity: .8}
  
} 
@keyframes fadeIn1{
  to{opacity: 1;}
  from{top:35%;}
  to{top:20%;}
}
@keyframes fadeIn2{
    from{opacity:0;}
    to{opacity: 1;}
}
@keyframes fadeIn3{
    from{opacity:0;}
    to{opacity: 1;}
    from{font-size:50px;}
    to{font-size: 90px;}
}
@keyframes intro{
    from{color:white;}
    to{color: transparent;}
    from{text-shadow: 2px 2px #ff0000;}
    to{text-shadow: 0px 0px 0 transparent;}
    
}

::selection{
  background: black;
}

@media screen and (max-width: 415px){
    
    #heading1{
        position:absolute;
        top:25%;
        font-size: 200%;
        animation: fadeIn1a 2s steps(50, end);
    }
    #heading2{
        position:absolute;
        top:30%;
        font-size: 200%;
        animation: fadeIn2a 2s steps(50, end); 
    }
    #heading3{
        position:absolute;
        top:37%;
        opacity: 0;
        animation: fadeIn3a 3s steps(1000, end); 
        animation-delay: 2s;
        animation-fill-mode:forwards;
    }
    #name{
        position:absolute;
        top:10%;
        left:3%;
        height: 35%;
        width: 94%;
        opacity: 0;
        animation: type 5s steps(320, end); 
        animation-delay: 8s;
        animation-fill-mode:forwards;
    }
    #secBelow{
        position: absolute;
        top:60%;
        left:9%;
        opacity: 0;
        animation: type 3s steps(320, end); 
        animation-delay: 10s;
        animation-fill-mode:forwards;
        font-size: 19px;
        text-align: center
    }
}

@keyframes fadeIn1a{
  to{opacity: 1;}
  from{top:35%;}
  to{top:25%;}
}
@keyframes fadeIn2a{
    from{opacity:0;}
    to{opacity: 1;}
}
@keyframes fadeIn3a{
    from{opacity:0;}
    to{opacity: 1;}
    from{font-size:100%;}
    to{font-size: 250%;}
}
